body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: #f0f8ff;
  background-color: black;
}
div {
  padding: 1em;
}

.main-grid {
    display: grid;
    justify-content: center;
    margin: 0;
    padding: 0;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-areas:
    'left main main-image right'
    'left metrics metrics right'
    'left footer footer right';
}
.main-item {
  grid-area: main;
  background: #301934;
}
.main-image-item {
  grid-area: main-image;
  background: #301934;
}
.metrics-item {
  grid-area: metrics;
  background: #301934;
}
.footer-item {
  grid-area: footer;
  background: #301934;
  font-size: xx-small;
  padding: 1em;
}
.info-background {
  background: #301934;
  background-image: url('https://i.ytimg.com/vi/tiZUy7oH0qI/maxresdefault.jpg');
  background-image: linear-gradient(to right,#301934,transparent), url('https://i.ytimg.com/vi/tiZUy7oH0qI/maxresdefault.jpg');
  /* background-image: linear-gradient(to right top, #301934 20%,transparent 100%), url('https://i.ytimg.com/vi/tiZUy7oH0qI/maxresdefault.jpg'); */
}